<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.ss.mapper.NewsCommentMapper">
	<select id="findList" resultType="newsComment">
		select neco_id as id,neco_user_id as userId,neco_floor as floor
		,neco_time as time,neco_content as content
		from tbl_newsComment where neco_news_id = #{newsID}
		limit #{start},{#num};
	</select>

	<select id="getNum" resultType="int">
		select count(*) from
		tbl_newsComment where neco_news_id = #{newsID};
	</select>
	
	<insert id="intsertComment" useGeneratedKeys="true" keyProperty="id" parameterType="newsComment">
		insert into tbl_newsComment(neco_news_id,neco_user_id,neco_time,neco_content)
		values(#{newsId},#{userId},#{content},#{time,javaType=java.util.Date,jdbcType=VARCHAR});
	</insert>
</mapper>