<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bit.ss.mapper.NewsMapper">
  	
  	<select id="findList" parameterType="news">
  		select news_id as id,news_title as title,news_pubTime as pubTime
  		where news_type = #{type} limit #{start},#{num};
  	</select>
  	
  	<select id="findNews" parameterType="news">
  		select news_title as title,news_pubTime as pubTime,news_content as content
  		where news_id = #{newsID};
  	</select>
  </mapper>